html, body {
    font-family: $font-family-st;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    background: url(../src/images/body_background.jpg);
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: url(../src/images/header_background.jpg) no-repeat;
    background-size: cover;
    box-shadow: 0 1px 10px $shadow-color;

    h1 {
        margin-top: 25px;
        margin-bottom: 30px;
    }
}

.client-quota {
    position: relative;
    padding: 30px 0;
    background: url(../src/images/section2_background.jpg) (0 / contain) repeat;
}

.quota-issue {
    width: 100%;
    height: 100%;
    background: url(../src/images/footer_background.jpg) (0 (100% / cover)) no-repeat;
}
