$font-family-st: GillSans, Calibri, Trebuchet, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;
$common-color: rgba(0, 0, 0, 0.87);
$primary-color: #F3CDA7;
$secondary-color: #666666;
$info-color: #FFFFFF;
$shadow-color: #000000;


