@media only screen and (max-width: 1199.98px){
    .quota-desp{
        width: 100%;
        margin-bottom: 60px;
    }
    .quota-step-block{
        width: 1040px;
        margin: 50px auto;
    }
    h2{
        margin: 0 5%;
    }
    .quota-step {

        &:not(:first-child) {
            margin-left: 4%;
        }
    }
    
    .quota-issue-title{
        h1{
            margin-left: 10%;
        }
    }
    .quota-issue-block{
        width: 60%;
    }
    .issue-img-a{
        width: 250px;
        top:20%;
        left: 5%;
    }
    .issue-img-question{
        width: 200px;
        top: -25%;
        left: 75%;
    }
   

}