@media only screen and (max-width:767.98px){
    
    .logo {
        width: 18%;
        margin: 0 auto;
        padding-left: 0;
    }
    .slogan-container{
        width: 93%;
        margin: 0 auto;
    }
    .slogan-title{
        
        margin-left: 0;
    }
    .slogan-content {
        margin-left: 12%;
    }
        .slogan-second {
            margin-left: 12%;
          margin-bottom: 0;
        }
    
    .quota-step-block {
        width: 90%;
    }
    .quota-issue-title {
        h1 {
        margin-left: 6%;
    }
}
.issue-img-question {
  
    top: 25%;
    
}
.quota-issue-block {
    width: 70%;
}

}