@import "variables";
@import "layout";
@import "type";
@import "common";
@import "animation";

.logo {
    padding-top: 55px;
    padding-left: 35%;
}

img {
    width: 100px;
}

.slogan-title {
    text-align: center;
}

.slogan-content {
    margin-left: 25%;
    line-height: 25px;
}

h1 {
    display: inline-block;
}

h3 {
    margin: 0;
    line-height: 35px;
}

.slogan-second {
    margin-left: 20%;
    margin-bottom: 330px;
}

.quota-desp-title {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    color: $primary-color;
    border-bottom: 1px solid $info-color;
}

.quota-desp-content {
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 35px;
    color: $info-color;
}

.quota-desp-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quota-desp {
    width: calc(100%/3 - 6%*2);
    padding: 0 45px 30px;
    position: relative;
    top: -50px;
    z-index: 1;
    border-radius: 20px;
    background: url(../src/images/section2_background.jpg) 0 (0 / cover) no-repeat;
    box-shadow: -1px -1px 10px $shadow-color;
}

.quota-step-container {
    // width: 65%;
    // min-width: 1150px;
    margin: 35px auto;
    margin-bottom: 4.5%;
}

h2 {
    margin: 0 23%;

    //margin: 0 10%;
    padding: 30px 0;
    line-height: 50px;
}

.quota-step-agent-title {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
}

.quota-step-client-title {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
}

span {
    font-size: 2.5rem;
}

.quota-step-block {
    font-size: 0;
    width: 1125px;
    margin: 50px auto;
}

.quota-step {
    display: inline-block;

    //width: calc(100%/4 - 70px*3 /4);
    min-width: 228px;
    height: 75px;
    line-height: 75px;
    font-size: 1rem;
    text-align: center;
    border-radius: 40px;
    box-shadow: 1px 1px 5px $shadow-color;

    &:not(:first-child) {
        margin-left: 6%;
    }

    img {
        width: 40px;
        display: inline;
        vertical-align: middle;

        //line-height: 75px;
        //padding-top: 18px;
   
    }

    span {
        display: inline-block;
        width: 110px;
        vertical-align: middle;

        //padding: 0 10px;
        font-size: 1rem;
    }

    i {
        display: inline;
        vertical-align: middle;

        //padding-bottom: 18px;
   
    }
}

.material-icons {
    font-size: 36px;
}

.quota-step-txt {
    width: 100%;
}

.agent-quota-step {
    background: url(../src/images/agent_step_background.jpg);
}

.client-quota-step {
    color: $info-color;
    background: url(../src/images/client_step_background.jpg);
}

.quota-issue-info {
    position: relative;
    z-index: 4;
    display: inline-block;
    margin: 50px 35px;

    h6 {
        margin: 0;
        line-height: 55px;
        color: $info-color;
        text-shadow: 1px 1px 2px $shadow-color;
    }
}

.quota-issue-container {
    position: relative;
    height: 85%;
}

.quota-issue-block {
    width: 44%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    h4 {
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: $secondary-color;
    }
}

.collapsible-item-header {
    height: 80px;
    line-height: 80px;
    color: $primary-color;
    border: 1px solid $info-color;
    background: url(../src/images/section2_background.jpg);
    cursor: pointer;

    i {
        padding: 0 20px;
        display: inline;
        vertical-align: middle;
    }

    h6 {
        margin: 0;
        display: inline-block;
    }
}

.collapsible-item-body {
    display: none;
    padding: 2.5rem;
    border: 1px solid $info-color;
    background: url(../src/images/body_background.jpg);
    opacity: 0.85;

    i {
        font-size: 24px;
    }

    p {
        margin: 0;
        line-height: 30px;
    }
}

.animation-img {
    position: absolute;
}

.issue-img-a {
    width: 250px;
    top: 16%;
    left: 18%;
    z-index: 1;
    animation: animationImgA 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.issue-img-question {
    width: 200px;
    top: -20%;
    left: 67%;
    z-index: 2;
    animation: animationImgQuestion 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
